.iphone-simulator {
  position: absolute;
  top: 120px;
  right: 20px;
  height: 667px;
  width: 359px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  margin-bottom: 60px;
  display: none;
}

.iphone-simulator--isVisible {
  display: block;
}
