@import '~quill/dist/quill.snow.css';

.aor-rich-text-input .ql-editor {
  font-size: 1rem;
  font-family: Roboto, 'sans-serif';
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
}

.aor-rich-text-input .ql-editor::after {
  content: '';
  display: block;
  border-bottom: 1px solid #00bcd4;

  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);

  -moz-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.aor-rich-text-input .ql-editor p:not(:last-child) {
  margin-bottom: 1rem;
}

.aor-rich-text-input .ql-editor strong {
  font-weight: 700;
}

.aor-rich-text-input .ql-editor ul {
  margin-bottom: 1rem;
}

.aor-rich-text-input .ql-editor:focus::after {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.aor-rich-text-input .ql-toolbar.ql-snow {
  margin: 0.5rem 0;
  border: 0;
  padding: 0;
}

.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item.ql-active,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item:hover,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label.ql-selected,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label:hover {
  color: #00bcd4;
}

.aor-rich-text-input .ql-snow.ql-toolbar button:hover .ql-fill,
.aor-rich-text-input .ql-snow.ql-toolbar button.ql-active .ql-fill {
  fill: #00bcd4;
}

.aor-rich-text-input .ql-snow.ql-toolbar button:hover .ql-stroke,
.aor-rich-text-input .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke {
  stroke: #00bcd4;
}

.aor-rich-text-input .ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background: #fff;
  z-index: 10;
}

.aor-rich-text-input .ql-snow.ql-toolbar .ql-picker-label {
  padding-left: 0;
}

.aor-rich-text-input .ql-snow.ql-toolbar + .ql-container.ql-snow {
  border: 0;
}

.ql-editor {
  max-width: 700px;
  overflow: scroll;
  height: 65vh;
}

.ql-editor p,
.ql-editor li {
  font-family: SanFranciscoText-Light;
  font-size: 14px;
  line-height: 24px;
  color: rgb(131, 146, 167);
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 15px !important;
}

.ql-editor strong {
  font-family: SanFranciscoText-Semibold;
  font-size: 14px;
  line-height: 24px;
  color: rgb(76, 82, 91);
}

.ql-editor em {
  font-family: SanFranciscoText-LightItalic;
  font-size: 14px;
  line-height: 24px;
  color: rgb(131, 146, 167);
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
  font-family: CircularStd-Medium;
  font-size: 14px !important;
  color: rgb(59, 72, 89);
  margin: 20px 0 7px;
  font-weight: normal !important;
}

.ql-editor ul,
.ql-editor ol {
  margin: 0 !important;
  padding: 0 !important;
}

.ql-editor ul li::before {
  background-color: rgb(59, 72, 89);
  margin: 0 !important;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  content: '';
  margin-right: 8px !important;
  margin-bottom: 1px !important;
}

.ql-editor ol li::before {
  font-family: SanFranciscoText-Medium;
  margin: 0 !important;
  color: rgb(59, 72, 89);
  font-size: 14px !important;
  margin-right: 8px !important;
}

.ql-editor a {
  color: rgb(41, 123, 237);
}

input.ql-image {
  display: none;
}

.ql-showHtml:after {
  content: '[source]';
}

.ql-slot {
  margin-left: 20px;
}

.ql-slot:after {
  content: '[advertisement]';
}

.ad-placeholder {
  font-family: sans-serif;
  background-color: #f9f7f7;
  color: #333333;
  border-radius: 4px;
  margin: 15px 0;
  padding: 20px;
  display: block;
  text-align: center;
}

.ad-placeholder:after {
  content: 'Advertisement placeholder';
}
