.admin-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.admin-login-form {
  width: 300px;
}

.admin-login-form-forgot {
  float: right;
}

.admin-login-form-button {
  width: 100%;
}

.admin-login-form__facebook-button > button {
  background-color: #2d5f9a !important;
}

.admin-login-form__buttons-devider {
  text-align: center;
  color: rgba(0, 0, 0, 0.38);
  font-size: 15px;
  margin: 5px 0;
}

/* .admin-login-form__facebook-icon::before {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20d%3D%22M26%2020v-3c0-1.3.3-2%202.4-2H31v-5h-4c-5%200-7%203.3-7%207v3h-4v5h4v15h6V25h4.4l.6-5h-5z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.admin-login-form__facebook-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  position: absolute;
  left: 58px;
  top: -1px;
} */

.fb-auth-button {
  background-color: #2d5f9a;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  height: 36px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  user-select: none;
}

.fb-auth-button:hover {
  background-color: #829fc3;
}

.fb-auth-button::before {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2050%2050%22%20enable-background%3D%22new%200%200%2050%2050%22%3E%3Cpath%20d%3D%22M26%2020v-3c0-1.3.3-2%202.4-2H31v-5h-4c-5%200-7%203.3-7%207v3h-4v5h4v15h6V25h4.4l.6-5h-5z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  position: absolute;
  left: 69px;
  top: 5px;
}
