pre.sunburst {
  padding: 10px;
  font-size: 13px;
  font-family: Monaco, monospace;
}

pre.sunburst .DiffInserted {
  background-color: #253b22;
  color: #f8f8f8;
}
pre.sunburst .DiffHeader {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}
pre.sunburst .CssPropertyValue {
  color: #f9ee98;
}
pre.sunburst .CCCPreprocessorDirective {
  color: #afc4db;
}
pre.sunburst .Constant {
  color: #3387cc;
}
pre.sunburst .DiffChanged {
  background-color: #4a410d;
  color: #f8f8f8;
}
pre.sunburst .Support {
  color: #9b859d;
}
pre.sunburst .MarkupList {
  color: #e1d4b9;
}
pre.sunburst .CssConstructorArgument {
  color: #8f9d6a;
}
pre.sunburst .Storage {
  color: #99cf50;
}
pre.sunburst .line-numbers {
  background-color: #ddf0ff;
  color: #000000;
}
pre.sunburst .CssClass {
  color: #9b703f;
}
pre.sunburst .StringConstant {
  color: #ddf2a4;
}
pre.sunburst .MarkupSeparator {
  background-color: #242424;
  color: #60a633;
}
pre.sunburst .MarkupUnderline {
  text-decoration: underline;
  color: #e18964;
}
pre.sunburst .CssAtRule {
  color: #8693a5;
}
pre.sunburst .MetaTagInline {
  color: #e0c589;
}
pre.sunburst .JEntityNameType {
  text-decoration: underline;
}
pre.sunburst .LogEntryError {
  background-color: #751012;
}
pre.sunburst .MarkupHeading {
  background-color: #632d04;
  color: #fedcc5;
}
pre.sunburst .CssTagName {
  color: #cda869;
}
pre.sunburst .SupportConstant {
  color: #cf6a4c;
}
pre.sunburst .MarkupQuote {
  background-color: #ecd091;
  color: #e1d4b9;
  font-style: italic;
}
pre.sunburst .DiffDeleted {
  background-color: #420e09;
  color: #f8f8f8;
}
pre.sunburst .CCCPreprocessorLine {
  color: #8996a8;
}
pre.sunburst .StringRegexpSpecial {
  color: #cf7d34;
}
pre.sunburst .EmbeddedSourceBright {
  background-color: #292929;
}
pre.sunburst .InvalidIllegal {
  background-color: #150b15;
  color: #fd5ff1;
}
pre.sunburst .MarkupRaw {
  background-color: #abadb4;
  color: #578bb3;
}
pre.sunburst .SupportFunction {
  color: #dad085;
}
pre.sunburst .CssAdditionalConstants {
  color: #dd7b3b;
}
pre.sunburst .MetaTagAll {
  color: #89bdff;
}
pre.sunburst .StringRegexp {
  color: #e9c062;
}
pre.sunburst .StringEmbeddedSource {
  color: #daefa3;
}
pre.sunburst .EntityInheritedClass {
  color: #9b5c2e;
  font-style: italic;
}
pre.sunburst .MarkupComment {
  color: #f67b37;
  font-style: italic;
}
pre.sunburst .MarkupBold {
  font-weight: bold;
  color: #e9c062;
}
pre.sunburst .CssId {
  color: #8b98ab;
}
pre.sunburst .CssPseudoClass {
  color: #8f9d6a;
}
pre.sunburst .JCast {
  color: #676767;
  font-style: italic;
}
pre.sunburst .StringVariable {
  color: #8a9a95;
}
pre.sunburst .String {
  color: #65b042;
}
pre.sunburst .Keyword {
  color: #e28964;
}
pre.sunburst {
  background-color: #000000;
  color: #f8f8f8;
}
pre.sunburst .LogEntry {
  background-color: #c7c7c7;
}
pre.sunburst .MarkupItalic {
  color: #e9c062;
  font-style: italic;
}
pre.sunburst .CssPropertyName {
  color: #c5af75;
}
pre.sunburst .Namespaces {
  color: #e18964;
}
pre.sunburst .DoctypeXmlProcessing {
  color: #494949;
}
pre.sunburst .InvalidDeprecated {
  color: #fd5ff1;
  font-style: italic;
}
pre.sunburst .Variable {
  color: #3e87e3;
}
pre.sunburst .Entity {
  color: #89bdff;
}
pre.sunburst .Comment {
  color: #aeaeae;
  font-style: italic;
}
