.nested-collection-input-group__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: none rgb(224, 224, 224);
  border-left: none rgb(224, 224, 224);
  border-right: none rgb(224, 224, 224);
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  box-sizing: content-box;
  margin: 0px;
  width: 256px;
}

.nested-collection-input-group__label {
  line-height: 26px;
  font-size: 22px;
  pointer-events: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.nested-collection-input-group__content {
  padding-left: 30px;
  border: 1px solid rgb(224, 224, 224, 0.5);
  /* box-shadow: 3px 2px 5px 0px rgba(224, 224, 224, 0.3); */
  box-shadow: 3px 2px 7px 2px rgba(224, 224, 224, 0.3);
}

.nested-collection-input-group__add-icon {
  color: rgb(0, 188, 212) !important;
}

.nested-collection-input-group__remove-icon {
  color: rgb(243, 71, 20) !important;
}

.nested-collection-input-group__entry {
  display: flex;
  flex-direction: row;
  align-items: center;
}
