@font-face {
  font-family: 'SanFranciscoText-Medium';
  src: local('SanFranciscoText-Medium'),
    url('../../../assets/fonts/SanFranciscoText-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SanFranciscoText-LightItalic';
  src: local('SanFranciscoText-LightItalic'),
    url('../../../assets/fonts/SanFranciscoText-LightItalic.woff2')
      format('woff2');
}

@font-face {
  font-family: 'SanFranciscoText-Semibold';
  src: local('SanFranciscoText-Semibold'),
    url('../../../assets/fonts/SanFranciscoText-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SanFranciscoText-Light';
  src: local('SanFranciscoText-Light'),
    url('../../../assets/fonts/SanFranciscoText-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd-Medium';
  font-weight: 400;
  src: local('CircularStd-Medium'),
    url('../../../assets/fonts/CircularStd-Medium.woff2') format('woff2');
}
