@import 'fonts.css';

.body > div:nth-child(2) {
  overflow: auto;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

html {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 320px;
}

body *,
body *::before,
body *::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}
